.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
section.homepage {
	width: 100%;
	text-align: center;

	h2 {
		width: auto;
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		font: {
			weight: 300;
			size: 30px;
		}
		color: $color-red;
		&:after {
			width: 90%;
			content: '';
			border-bottom: 1px solid #000;
			position: absolute;
			bottom: -10px;
			left: 5%;
			// right: 50%;

		}
	}
	.intro-text {
		width: 100%;
		margin: 0 auto 30px auto;
		font-size: 24px;
		@media screen and (min-width: $tabwidth) {
			width: 90%;
		}
		@media screen and (min-width: $deskwidth) {
			width: 50%;
		}
	}
	.photo1 {
		width: 100%;
		border: 1px solid $color-red;
		line-height: 0;
		img {width: 100%;}
		margin: 0 0 30px 0;
		@media screen and (min-width: $tabwidth) {
			width: 40.7%;
			float: left;
			margin: 0 1% 0 0;
		}
	}
	.photo2 {
		width: 100%;
		border: 1px solid $color-red;
		line-height: 0;
		margin: 0 0 30px 0;
		img {width: 100%;}
		@media screen and (min-width: $tabwidth) {
			width: 58%;
			float: right;
			margin: 0 0% 0 0;
		}
	}
}
section.contact {
	width: 100%;
	text-align: center;
	.map {
		width: 100%;
		float: left;
		iframe {
			width: 100%;
		}
		margin: 0 0 30px 0;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
	}
	.contact-info {
		width: 100%;
		float: right;
		margin: 0 0 30px 0;
		@media screen and (min-width: $tabwidth) {
			width: 45%;
		}
	}

	.item {
		width: 100%;
		float: left;
		margin: 0 0 20px 0;
		text-align: left;
	}
	.contact-wrap {
		width: 100%;
		float: left;
	}
}
#content {

}
section.page-contents {
	width: 100%;
	text-align: center;
	font-size: 16px;
}
section.sitemap, .entry-content {
	font-size: 16px;
}
.menu-image {
		width: 100%;
		// border-left: 1px solid #eee;
		// border-bottom: 1px solid #eee;
		// border-right: 1px solid #eee;
		float: left;
		line-height: 0;
		img {
			width: 100%;
		}
	}